In [1]:
%load_ext autoreload
%autoreload 2

In [1]:
import glob
from sklearn.metrics import mean_absolute_error
from comparison import gauge_cmip
import pandas as pd
import numpy as np
import json

In [4]:
not pd.DataFrame().empty

False

In [ ]:
compare_list = list()
for f in glob.glob('../geo_data/great_db/nc_concat/*.nc'):
    gauge_id = f.split('/')[-1][:-3]
    model_order = gauge_cmip(gauge_id=gauge_id)[1]
    compare_list.append(gauge_cmip(gauge_id=gauge_id)[0])

In [22]:
number_df = pd.concat([i['number'].reset_index(drop=True)
                       for i in compare_list],
                      axis=1)
error_df = pd.concat([i['error'].reset_index(drop=True)
                      for i in compare_list],
                     axis=1)
res_models = np.unique(number_df.mode(axis=1).iloc[:6, 0].values)

fin_res = {}
for order in res_models:
    fin_res[order] = model_order[order]

with open('./cmip_ranks.json', 'w') as outfile:
    json.dump(fin_res, outfile)

access_cm2
awi_cm_1_1_mr
cmcc_esm2
ec_earth3_veg_lr

In [15]:
model_order

{1: 'access_cm2',
 2: 'awi_cm_1_1_mr',
 3: 'bcc_csm2_mr',
 4: 'cesm2',
 5: 'cmcc_esm2',
 6: 'ec_earth3_veg_lr',
 7: 'inm_cm4_8',
 8: 'inm_cm5_0',
 9: 'kace_1_0_g',
 10: 'miroc6',
 11: 'miroc_es2l',
 12: 'mpi_esm1_2_lr',
 13: 'mri_esm2_0',
 14: 'noresm2_lm',
 15: 'noresm2_mm',
 16: 'ukesm1_0_ll'}

In [7]:
# select range from era5l
era_prcp = era_gauge[['prcp_e5l']].rename({'index': 'date'}).sel(
    date=slice('2018-01-01', '2020-01-01')).to_dataframe().droplevel(level=1)

In [4]:
model_names = {'_'.join(v.split('_')[1:]): v
               for v in cmip_gauge.data_vars if 'precipitation' in v}
model_names

{'access_cm2': 'precipitation_access_cm2',
 'awi_cm_1_1_mr': 'precipitation_awi_cm_1_1_mr',
 'bcc_csm2_mr': 'precipitation_bcc_csm2_mr',
 'cesm2': 'precipitation_cesm2',
 'cmcc_esm2': 'precipitation_cmcc_esm2',
 'ec_earth3_veg_lr': 'precipitation_ec_earth3_veg_lr',
 'inm_cm4_8': 'precipitation_inm_cm4_8',
 'inm_cm5_0': 'precipitation_inm_cm5_0',
 'kace_1_0_g': 'precipitation_kace_1_0_g',
 'miroc6': 'precipitation_miroc6',
 'miroc_es2l': 'precipitation_miroc_es2l',
 'mpi_esm1_2_lr': 'precipitation_mpi_esm1_2_lr',
 'mri_esm2_0': 'precipitation_mri_esm2_0',
 'noresm2_lm': 'precipitation_noresm2_lm',
 'noresm2_mm': 'precipitation_noresm2_mm',
 'ukesm1_0_ll': 'precipitation_ukesm1_0_ll'}

In [8]:
for model_name, model_column in model_names.items():
    cmip_p = cmip_gauge[[model_column]].sel(
        date=slice('2018-01-01', '2020-01-01')).to_dataframe()
    cmip_p /= 10
    cmip_p = cmip_p.rename(columns={model_column: model_name})
    
    era_prcp = era_prcp.join(cmip_p)

In [9]:
era_prcp

,prcp_e5l,access_cm2,awi_cm_1_1_mr,bcc_csm2_mr,cesm2,cmcc_esm2,ec_earth3_veg_lr,inm_cm4_8,inm_cm5_0,kace_1_0_g,miroc6,miroc_es2l,mpi_esm1_2_lr,mri_esm2_0,noresm2_lm,noresm2_mm,ukesm1_0_ll
date,,,,,,,,,,,,,,,,,
2018-01-01,0.027686,1.828077,0.030457,0.061016,NaN,0.067852,0.036703,0.681195,14.289569,NaN,NaN,2.381394,0.151428,NaN,0.342760,NaN,NaN
2018-01-02,0.149084,1.142546,1.280544,0.063395,NaN,0.199292,0.173512,0.486026,9.243484,NaN,NaN,2.051793,0.982222,NaN,0.611081,NaN,NaN
2018-01-03,0.278119,0.005271,3.464992,0.031690,NaN,0.040121,0.401723,0.347296,3.851303,NaN,NaN,1.144750,0.094485,NaN,0.874655,NaN,NaN
2018-01-04,0.019612,0.031994,1.145494,0.058853,NaN,0.051777,0.168197,0.434607,4.374561,NaN,NaN,1.932730,0.015712,NaN,0.600241,NaN,NaN
2018-01-05,0.007236,0.058170,13.103180,0.124640,NaN,0.565580,0.007867,0.271701,14.033071,NaN,NaN,10.213562,0.114074,NaN,0.278239,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-28,0.775285,0.525414,0.781746,0.001333,NaN,0.110943,5.671542,3.188172,0.123225,NaN,NaN,NaN,0.287516,NaN,0.396635,NaN,NaN
2019-12-29,0.052356,0.528226,0.007188,0.333532,NaN,0.055371,8.761183,0.892293,0.045934,NaN,NaN,NaN,1.132134,NaN,0.092871,NaN,NaN
2019-12-30,0.015510,0.014342,0.015196,0.092729,NaN,0.109075,0.506238,0.016178,0.096249,NaN,NaN,NaN,7.337712,NaN,0.016862,NaN,NaN
2019-12-31,0.562491,0.006826,0.000710,0.117825,NaN,0.114331,5.588966,0.542665,0.112649,NaN,NaN,NaN,4.558806,NaN,0.013726,NaN,NaN
2020-01-01,6.392877,0.020669,0.004506,0.085236,NaN,0.119844,9.566041,1.997803,1.398335,NaN,NaN,1.919651,1.812023,NaN,0.033420,0.007827,NaN

In [14]:
era_p = era_prcp['prcp_e5l']
model_p = era_prcp['access_cm2']

In [15]:
pearsonr(x=era_p, y=model_p)[0]

0.06620672796355641

In [21]:


percent_diff(era_p, model_p)

-30.60289111648834

In [11]:

mean_absolute_error(y_true=era_p, y_pred=model_p)

2.986442827587067

In [24]:
res_df = pd.DataFrame()
era_p = era_prcp['prcp_e5l']

for model_name in model_names.keys():
    model_p = era_prcp.loc[:, model_name]
    if any(model_p.isna()):
        pass
    else:
        res_df.loc[model_name, 'r'] = pearsonr(x=era_p, y=model_p)[0]
        res_df.loc[model_name, 'error'] = percent_diff(era_data=era_p,
                                                       cmip_data=model_p)
res_df.sort_values(by=['error', 'r'], ascending=False)

                         r      error
ec_earth3_veg_lr  0.061806   6.447755
noresm2_lm        0.076563  -9.595899
bcc_csm2_mr       0.090335 -23.535877
cmcc_esm2         0.131374 -24.892107
awi_cm_1_1_mr     0.151997 -30.572703
access_cm2        0.066207 -30.602891
mpi_esm1_2_lr     0.142016 -44.990548
inm_cm4_8         0.184828 -48.158451
inm_cm5_0         0.062849 -66.778051